<% var title =  title == null ? 'UENO' : title; %>
<% var discription = discription == null ? '募集サイト的な': discription; %>

<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>UENO</title>

    <!-- OGP -->
    <meta property="og:url" content="<%- url %>" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="<%- title %>" />
    <meta property="og:description" content="<%- discription %>" />
    <meta property="og:site_name" content="UENO" />
    <meta property="og:image" content="<%- image %>" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="<%- title %>" />
    <meta name="twitter:description" content="<%- discription %>" />
    <meta name="twitter:image" content="<%- image %>" />
        

  <script defer src="/js/chunk-vendors.js"></script><script defer src="/js/app.js"></script></head>
  <body>
    <noscript>
      <strong>We're sorry but UENO doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
